# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
npm-debug.log
yarn-debug.log
pnpm-debug.log
lerna-debug.log
log/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.iml

# Build files
dist/
build/
.out/
coverage/

# MongoDB data
*.lock
dump/
data/
*.pid
*.seed

# Process files
pids/
*.pid
*.seed
